In [1]:
from google.colab import drive
drive.mount('/content/drive/')   #will help to read data from our drive

Mounted at /content/drive/

In [2]:
import os
os.chdir('/content/drive/My Drive/chat-bot')

In [3]:
!ls

all_seasons.csv		merged.csv	    season-2.txt
final.ipynb		parse_script.ipynb  season-3.txt
merged-all-seasons.txt	season-1.txt	    season-4.txt

In [4]:
import re
import pandas as pd

In [5]:
pattern = r'(^[a-zA-Z\s]+):(.+)'

In [6]:
data = {
    'name': [],
    'line': []
}

In [7]:
with open('merged-all-seasons.txt','rt') as file:
  for line in file.readlines():
    match=re.findall(pattern, line)
    if match:
      name,line=match[0]
      data['name'].append(name)
      data['line'].append(line)

In [8]:
dataUpper = {k.upper(): v for k, v in data.items()}

In [9]:
dff=pd.DataFrame(data)

In [10]:
dff.head()

   name                                               line
0  JAKE   This job is eating me alive. I can't breathe ...
1   AMY                   Hey! What are you doing, weirdo?
2  JAKE   I'm doing the best speech from Donnie Brasco....
3   AMY                        Get it together, man. Okay?
4   AMY   So the store was hit about two hours ago. The...

In [11]:
len(dff)

6460

In [13]:
sum(dff['name'] == 'JAKE')

1202

In [14]:
dff.to_csv('final.csv', index=False)